.contact-section {
  min-height: 100vh;
  margin-top: 10em;
  padding-inline: 7em;
}

.contact-text {
  margin-top: 2em;
  font-size: 28px;
  color: #888888;
}

.contact-header {
  margin-top: 1em;
}

.contact-header h1 {
  font-size: 3em;
}

.contact-span {
  color: #987750;
  font-size: 18px;
}

.form {
  min-width: 600px;
  /* border: 1px solid red; */
  margin-top: 4em;
}

.flexdiv {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}

.flexdiv > div {
  flex: 1;
}

.input-contact {
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, .5);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  min-width: 100%;
  margin-bottom: 2em;
  font-size: 24px;
}

.input-contact::placeholder {
  color: #888888;
}

#message {
  height: 10em;
}

.input-contact:nth-child(2)::placeholder {
  top: 0;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin-top: 10em;
  margin-bottom: 4em;
}

.address-detail > p {
  color: #888888;
  font-size: 18px;
}

.address-detail > h2 {
  color: #dddddd;
  font-size: 34px;
}

.address-detail > h2:hover {
  color: #987750;
  cursor: pointer;
  transition: all ease 0.3s;
}

.address-detail > h6 {
  color: #dddddd;
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
  display: inline-block;
  /* text-decoration: underline; */
}

.address-detail > h6:hover {
  cursor: pointer;
  transition: all ease 0.3s;
}

.input-container {
  position: relative;
}

.input-label {
  position: absolute;
  top: 1em;
  left: 1em;
  color: #888888;
  font-size: 24px;
  transition: all ease 0.3s;
}

#phone:hover {
  color: #987115;
  cursor: pointer;
}