.contact-section {
  min-height: 100vh;
  margin-top: 10em;
}

.contact-text {
  margin-top: 2em;
  font-size: 1.25em;
  color: #888888;
}

.contact-header {
  margin-top: 1em;
}

.contact-header h1 {
  font-size: 3em;
}

.contact-span {
  color: #987750;
  font-size: 18px;
}

.form {
  width: 95%;
  /* border: 1px solid red; */
  margin-top: 3em;
}

.flexdiv {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}

.flexdiv > div {
  flex: 1;
}

.input-contact {
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, .5);
  padding-top: .625em;
  padding-bottom: .625em;
  padding-left: 1em;
  width: 100%;
  margin-bottom: 1em;
  font-size: 24px;
}

.input-contact::placeholder {
  color: #888888;
}

#message {
  height: 8em;
}

.input-contact:nth-child(2)::placeholder {
  top: 0;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin-top: 10em;
  margin-bottom: 4em;
}

.address-detail > p {
  color: #888888;
  font-size: 18px;
}

.address-detail > h2 {
  color: #dddddd;
  font-size: 34px;
}

.address-detail .phone:hover {
  color: #987750;
  cursor: pointer;
  transition: all ease 0.3s;
}

.address-detail > h6 {
  color: #dddddd;
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
  display: inline-block;
  /* text-decoration: underline; */
}

.address-detail > h6:hover {
  cursor: pointer;
  transition: all ease 0.3s;
}

.input-container {
  position: relative;
}

.input-label {
  position: absolute;
  top: 1em;
  left: 1em;
  color: #888888;
  font-size: 1.25em;
  transition: all ease 0.3s;
}

#phone:hover {
  color: #987115;
  cursor: pointer;
}


/* Media Queries */
/* Mobile Devices */
@media (min-width: 320px) and (max-width: 480px) {
  .contact-section {
    max-width: 100%;
    /* border: 1px solid red; */
    padding-inline: 1em;
  }

  .contact-header .h1 {
    font-size: 2.75em;
  }

  .contact-text {
    font-size: 1.125em;
  }

  .form {
    margin-top: 4em;
  }

  .address {
    margin-top: 6em;
  }

  .address-detail > h2 {
    font-size: 1.875em;
  }
}

/* @media (min-width: 1280px) {
  .contact-section {
    padding-inline: 9em;
  }
} */

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .contact-section {
    margin-inline: 1.25em;
    max-width: 100%;
  }

  .contact-header .h1 {
    font-size: 3em;
  }

  .contact-text {
    font-size: 1.25em;
  }

  .form {
    margin-top: 4em;
  }

  .address {
    margin-top: 6em;
  }

  .address-detail > h2 {
    font-size: 2.5em;
  }
}

/* Small screen laptops */
@media (min-width: 769px) and (max-width: 1039px) {
  .contact-section {
    margin-inline: 1.25em;
    max-width: 100%;
  }

  .contact-header .h1 {
    font-size: 3em;
  }

  .contact-text {
    font-size: 1.25em;
  }

  .form {
    margin-top: 4em;
  }

  .address {
    margin-top: 6em;
  }

  .address-detail > h2 {
    font-size: 2.5em;
  }
}


/* Medium sized Laptops */
@media (min-width: 1040px) and (max-width: 1279px) {
  .contact-section {
    padding-inline: 1.875em;
  }
}


@media (min-width: 1280px) and (max-width: 1400px) {
  .contact-section {
    padding-inline: 7em;
    max-width: 100%;
    /* border: 1px solid red; */
  }
}

@media (min-width: 1401px) {
  .contact-section {
    padding-inline: 10em;
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .flexdiv {
    flex-direction: column;
  }
}