/* About Section */
.about-section {
  min-height:90vh;
  width: 100%;
}

.about-header {
  margin-top: 2.25em;
}



.about-span {
  color: #987750;
  font-size: 1.25em;
}

.credentials {
  /* margin-top: 5em; */
}

.credentials ul {
  display: flex;
  grid-template-columns: auto 1fr;
  color: white;
  font-size: 1.25em;
  align-items: center;
}

.credentials ul li:first-child {
  width: 100px;
  justify-content: flex-start;
  color:#888888;
  font-size: 1.25em;
  margin-bottom: .5em;
}


.cv p {
  color: #888888;
  font-size: 20px;
  margin-top: 1em;
}

.cv:hover {
  cursor: pointer;
  border: 1px solid #987750;
  transition: all ease 0.3s;
}

#arrow {
  transition: transform 0.3s ease;
}

.cv:hover #arrow {
  transform: translate(0, -60);
}



.about-link {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
}

/* Responiveness */

@media (min-width: 320px) and (max-width: 480px) {
  .about-section {
    margin-inline-start: 1em;
    max-width: 85%;
    /* border: 1px solid red; */
  }

  .about-text .p {
    font-size: 1.085em;
    margin-block: 2em;
  }

  .credentials {
    margin-block: 5em ;
    font-size: 11px;
  }

  .credentials ul {
    /* display: flex; */
    grid-template-columns: auto 1fr;
    color: white;
    font-size: 11px;
    align-items: center;
    gap: 3em;
    /* border: 1px solid green; */
  }

  .credentials ul li:first-child {
    width: 100px;
    justify-content: flex-start;
    color:#888888;
    font-size: 1.5em;
    margin-bottom: .25em;
  }

  .cv {
    height: 200px;
    width: 100%;
    display: grid;
    place-content: center;
    border: 1px solid rgba(128, 128, 128, .5);
  }

  .cv img {
    margin-left: 25%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .about-section {
    margin-inline-start: 1.5em;
    max-width: 85%;
  }

  .about-text .p {
    font-size: 1.5em;
    margin-block: 2em;
  }

  .credentials {
    margin-block: 5em ;
    font-size: 1em;
  }

  .credentials ul {
    /* display: flex; */
    grid-template-columns: auto 1fr;
    color: white;
    font-size: 1em;
    align-items: center;
    /* justify-content: space-between; */
    gap: 40%;
    /* border: 1px solid green; */
  }

  .credentials ul li:first-child {
    width: 100px;
    justify-content: flex-start;
    color:#888888;
    font-size: 1.5em;
    margin-bottom: .25em;
  }

  .cv {
    height: 200px;
    width: 100%;
    display: grid;
    place-content: center;
    border: 1px solid rgba(128, 128, 128, .5);
  }

  .cv img {
    margin-left: 25%;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .about-section {
    margin-inline-start: 2em;
    max-width: 85%;
  }

  .about-text .p {
    font-size: 1.5em;
    margin-block: 2em;
  }

  .credentials {
    margin-block: 5em ;
    font-size: 1.125em;
  }

  .credentials ul {
    /* display: flex; */
    grid-template-columns: auto 1fr;
    color: white;
    font-size: 1em;
    align-items: center;
    /* justify-content: space-between; */
    gap: 40%;
    /* border: 1px solid green; */
  }

  .credentials ul li:first-child {
    width: 100px;
    justify-content: flex-start;
    color:#888888;
    font-size: 1.5em;
    margin-bottom: .25em;
  }

  .cv {
    height: 200px;
    width: 100%;
    display: grid;
    place-content: center;
    border: 1px solid rgba(128, 128, 128, .5);
    margin-bottom: 8em;
  }

  .cv img {
    margin-left: 25%;
  }
}

/* @media (min-width: 1400px) {
  .about-section {
    margin-inline: 5em;
    width: 90%;
  }

  .about-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .credentials {
    margin-top: 5em;
  }

  .credentials ul {
    display: flex;
  }

  .cv {
    height: 200px;
    width: 300px;
    display: grid;
    place-content: center;
    border: 1px solid rgba(128, 128, 128, .5);
    margin-top: 6em;
    margin-bottom: 6em;
  }

  .cv p {
    color: #888888;
    font-size: 20px;
    margin-top: 1em;
  }
}


@media (max-width: 1400px) {

  .about-section {
    margin-inline: 5em;
    width: 80%;
  }

  .cv {
    height: 200px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, .5);
  }

  .credentials {
    width: 100%;
  }

}


@media (max-width: 1180px) {
  .about-section {
  max-width: fit-content;
  margin-inline: 2em;
  }

  .credentials {
    margin-top: 4em;
  }

  .credentials ul {
    display: flex;
    justify-content: flex-start;
    gap: 8em;
  }

  .cv {
    height: 220px;
    width: 100%;
    display: grid;
    place-content: center;
    border: 1px solid rgba(128, 128, 128, .5);
    margin-top: 6em;
    margin-right: 5em;
    margin-bottom: 5em;
  }

  .cv > img {
    justify-self: center;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cv p {
    color: #888888;
    font-size: 20px;
    margin-top: 1em;
  }
}

@media (max-width: 1281px) {
  .about-section {
    width: 80%;
    margin-inline: 3em;
  }


  .credentials {
    margin-top: 4em;
    margin-bottom: 6em;
  }

  .credentials ul {
    display: flex;
    justify-content: flex-start;
    gap: 8em;
  }

  .cv {
    margin-bottom: 8em;
  }

} */
