/* Projects Section */
.projects-section {
  margin-top: 0;
}

/* Projects Carousel */
/* Carousel */
.projects-carousel {
  /* margin-top: 4em; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-item {
  display: flex;
  flex-basis: 33.333333%;
  flex-shrink: 0;
  gap: 1em;
  margin-right: 1em;
}

.carousel-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5em;
}

.carousel-img {
  height: 270px;
  min-width: 150px;
  max-width: 100%;
  object-fit: cover;
}


.portofolio-header {
  display: flex;
  text-align: center;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsiveness */
/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .projects-section {
    min-height: 70vh;
  }


  .btn-prev {
    position: absolute;
    top: 18%;
    left: 84%;
    transform: translateY(-50%);
  }

  .btn-next {
    position: absolute;
    top: 18%;
    left: 91%;
    transform: translateY(-50%);
  }

  .head .h1 {
    font-size: 2.5em;
    width: 100%;
  }

  .projects-carousel {
    overflow-x: hidden;
  }

  .carousel-item {
    display: flex;
    flex-basis: 50%;
    flex-shrink: 0;
    align-items: flex-start;
  }

  .carousel-img {
    height: 270px;
    min-width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1180px) {
  .projects-section {
    padding-inline: 2em;
  }

  .projects-carousel {
    /* border: 1px solid red; */
    overflow-x: hidden
  }
}

@media (max-width: 600px) {

  .projects-section {
    padding-inline: 1em;
  }

  .portofolio-header h1 {
    font-size: 2.875em;
  }

  .carousel-item {
    display: flex;
    flex-basis: 50%;
    /* gap: 3em; */
  }

}