.home-section {
  min-height:100vh;
  width: 100%;
  /* margin-inline: 0 auto; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.home-container {
  min-width: 100%;
  /* border: 1px solid red; */

}

