.portofolio-section {
  min-height: 100vh;
}

.skills {
  max-width: 900px;
}

.tab {
  width: 100%;
}

.tab-content {
  margin-top: 3em;
}

@media (max-width: 600px) {
  .portofolio-section {
    margin-inline: 1.25em;
  }

  .skills {
    max-width: 100%;
  }
}