.portofolio-section {
  height: max-content;
  margin-bottom: 5em;
}

.skills {
  max-width: 900px;
}

.tab {
  width: 100%;
}

.tablist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: inherit;
  /* border: 1px solid red; */
  margin-bottom: 1em;
  /* gap: 1em; */
}

.tablist > * {
  flex-shrink: 1;
}

.tab-content {
  margin-top: 3em;
}

@media (min-width: 320px) and (max-width: 480px) {

  .portofolio-section {
    max-width: 100%;
    margin-inline: .875em;
    margin-top: 4em;
  }


  .horizontal-separator {
    /* margin-left: .25em; */
    margin-inline: 1px;
    width: 20px;
  }

  .experiences-card-h3 {
    color: #dddddd;
    font-size: 1em;
    margin-bottom: .75em;
  }

  .job-title {
    font-size: 1.5em;
    margin-block: .5em;
  }

  .job-description {
    font-size: .975em;
  }

  .skill-desc {
    min-width: 90%;
    font-size: .755em;
    margin-top: 2em;
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .portofolio-section {
    max-width: fit-content;
    margin-inline: 2em;
    margin-top: 4em;
  }

  .p{
    font-size: 1.5em;
  }

  .skill-desc{
    width: 75%;
  }

  .skills {
    max-width: 100%;
  }
}

@media (max-width: 1180px) {

}

@media (min-width: 1181px) {
  .portofolio-section {
    padding-inline: 3em;
  }

}
