.nav {
  position: static;
  width: 100%;
  margin-top: 3em;
  padding-right: 3em;
  outline: none;
}

.h1 {
  color: #dddddd;
  display: inline-flex;
  gap: 1em;
  margin-left: 90%;
}


.sheetTitle {
  color: #888888;
  font-size: 2em;
  margin-block: 1em;
  margin-left: 1.25em;
}


.sheetDesc {
  color: #dddddd;
  font-size: 1.5em;
  margin-block: 2em;
  /* border: 1px solid red; */
}

.sheetDesc ul li {
  margin-bottom: 1em;
  margin-left: 2em;
}

.sheetDesc li:hover {
  color: #987750;
  cursor: pointer;
  transition: all ease .5s;
}

.sheetClose {
  color: #dddddd;
  font-size: 1.5em;
  margin-block: 2em;
  margin-left: 1.25em;

}



.sheetFooter {
  position: relative;
  top: 40%;
  left: 0%;
  margin-right: 30%;
  color: #888888;
  font-size: 1.5em;
}

.sheetFooter > div > span {
  color: #dddddd;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
  display: inline-block;
  margin-bottom: 2em;
}

.icons {
  position: absolute;
  left: 0;
  display: flex;
  gap: .5em;
  align-items: flex-start;
  justify-content: flex-start;
  /* flex-direction: row; */
  /* border: 1px solid red; */

}

.socialIcon {
  width: 40px;
  height: 40px;
  color: #888888;
  /* fill: #888888; */
  background-color: rgba(128, 128, 128, .5);
}

.sheet {
  border: 1px solid red;
}

/* .footerText {
  color: #888888;
  font-size: 18px;
  border: 1px solid red;
}

.footerText > div > span {
  color: #dddddd;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
  margin-bottom: 2em;
  margin-right: 50%;
} */

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .nav {
    position: fixed;
    margin-top: 1em;
    width: 95%;
    margin-bottom: 1em;
  }

  .h1 {
    gap: .875em;
    font-size: 1em;
    /* display: none; */
  }



  .sheetTitle {
    color: #888888;
    font-size: 2em;
    /* border: 1px solid  red; */
    text-align: left;
    margin-left: 1em;
    margin-bottom: 0;
  }

  .sheetContent {
    border: none;
    padding: 0;
  }

  .sheetDesc {
    color: #dddddd;
    font-size: 1.5em;
    margin-block: 2em;
    /* border: 1px solid red; */
    margin-left: 1.5em;
  }

  .sheetDesc ul li {
    margin-bottom: 1em;
    margin-left: 1.25em;
  }

  .sheetFooter {
    position: relative;
    top: 20%;
    left: 0%;
    /* margin-right: 30%; */
    color: #888888;
    font-size: 1em;
    min-width: 100%;
    border-top: .5px solid rgba(128, 128, 128, .5);
    padding: 1em;
    /* min-width: 100%; */
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  /* .nav {
    position: fixed;
    max-width: fit-content;
    right: 10%;
  } */

  .sheetDesc {
    font-size: 1.5em;
    margin-block: 2em;
    margin-left: 1.5em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav {
    position: fixed;
    /* border: 1px solid red; */
    max-width: fit-content;
    right: 10%;
  }

  .sheetDesc {
    font-size: 1.5em;
    margin-block: 2em;
    margin-left: 1.5em;
  }
}

@media (min-width: 1400px) {
  .sheetFooter {
    position: relative;
    top: 40%;
    left: 0%;
    margin-right: 30%;
    color: #888888;
    font-size: 1.5em;
  }

  .sheetDesc {
    color: #dddddd;
    font-size: 1.5em;
    margin-block: 2em;
    /* border: 1px solid red; */
    margin-left: 1.5em;
  }

  .sheetDesc ul li {
    margin-bottom: 1em;
  }
}