.nav {
  position: static;
  width: 100%;
  /* margin-bottom: 4em; */
  margin-top: 3em;
  padding-right: 3em;
  outline: none;
  z-index: 100;
}

.h1 {
  color: #dddddd;
  display: inline-flex;
  gap: 1em;
  margin-left: 90%;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .nav {
    position: fixed;
    margin-top: 1em;
    width: 95%;
    margin-bottom: 1em;
  }

  .h1 {
    gap: .875em;
    font-size: 1em;
    /* display: none; */
  }

}