.right-section {
  /* position: fixed; */
  right: 0px;
  /* max-width: 50%; */
  margin: 0 auto;
  order: 2;
  /* background-color: black; */
}

.hero-img {
  margin: 2.5rem;
  width: 100%;
  height: 100%;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}


.personal-img {
  position: absolute;
  top: 8%;
  left: 26%;
  min-width: fit-content;
  min-height: fit-content;
}



.intro {
  position: absolute;
  top: 75%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  color: #dddddd;
}

#to-contact{
  position: absolute;
  top: 95%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: #dddddd;
  text-decoration-line: underline;
}


@media (min-width: 1181px) {
  .right-section {
    position: fixed;
    /* border: 1px solid red; */
    right: 0;
    max-width: 50%;
  }

  #left-section {
    max-width: 68%;
  }
}
