.right-section {
  right: 0px;
  margin: 0 auto;
  order: 2;
}

.hero-img {
  /* margin: 2.5rem; */
  width: max-content;
  height: max-content;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.right-image {
  position: absolute;
  top: 8%;
  left: 21%;
  width: 58%;
  height: 60%;
}

#animated-text {
  color: white;
}


.intro {
  position: absolute;
  top: 75%;
  left: 45%;
  color: #dddddd;
  text-align: center;
}

#to-contact {
  position: absolute;
  top: 95%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: #999999;
  text-decoration-line: underline;
}

/* Responsive Design */
/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .right-section {
    width: 100%;
    max-height: 100vh;
  }

  .hero-img {
    min-width: 100%;
    min-height: 100%;
    background-position: cover;

  }

  .image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20%;
  }

  .hero-img {
    min-height: 500px;
    min-width: 300px;
    width: 100%;
    margin-top: 25%;
  }

  .intro {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dddddd;
    text-align: center;
  }

  .intro p {
    font-size: 0.5em;
  }

  .text {
    font-size: 0.85em;
    margin-top: 6em;
  }

  #to-contact {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.45em;
  }

  .personal-img {
    max-width: min-content;
    max-height: min-content;
  }

  #left-section {
    min-width: 100%;
  }

  .greet {
    margin-left: 30%;
    color: #999999;
    font-size: x-large;
  }

  .animated-text {
    font-size: 1em;
    margin-top: 1em;
  }

  .brace:first-child {
    position: fixed;
    font-size: large;
    margin-top: 1.5em;
    left: 10%;
  }

  .brace:last-child {
    position: fixed;
    font-size: large;
    left: 80%;
    margin-top: 1.5em;
  }

}

@media (min-width: 481px) and (max-width: 768px) {

  .image {
    /* border: 1px solid red; */
    position: relative;
    margin-top: 15%;
  }

  .intro {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dddddd;
    text-align: center;
  }

  #to-contact {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.45em;
  }

  .greet {
    margin-left: 20%;
    color: #999999;
    font-size: large;
  }

  .animated-text {
    font-size: 1em;
    margin-top: 1.5em;
  }

  .brace:first-child {
    position: fixed;
    font-size: large;
    margin-top: 2em;
    left: 10%;
  }

  .brace:last-child {
    position: fixed;
    font-size: large;
    left: 85%;
    margin-top: 2em;
  }
}

/* Small screen laptops */
@media (min-width: 769px) and (max-width: 1039px) {

  .image {
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
  }

  .intro {
    position: relative;
    color: #dddddd;
    text-align: center;
    /* border: 1px solid red; */
  }

  .hero-img {
    min-height: max-content;
    min-width: max-content;
  }

  .personal-img {
    /* position: relative; */
    /* left: 30%; */
    min-height: 500px;
    min-width: 300px;
    width: 100%;
  }

  #to-contact {
    position: absolute;
    top: 95%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.45em;
    /* border: 1px solid red; */
  }

  /* .right-section {
  } */

  #left-section {
    /* border: 1px solid red; */
    min-width: 100%;
  }

  .greet {
    margin-left: 5%;
    color: #999999;
    font-size: large;
  }

  .animated-text {
    font-size: 1em;
    margin-top: .5em;
  }

  .brace:first-child {
    position: fixed;
    font-size: large;
    margin-top: 2em;
    left: 30%;
  }

  .brace:last-child {
    position: fixed;
    font-size: large;
    left: 60%;
    margin-top: 2em;
  }

}

/* Large screen laptops */
@media (min-width: 1041px) and (max-width: 1440px) {
  /* .personal-img {
    min-width: 480px;
    min-height: 480px;
  } */

  .intro {
    position: absolute;
    top: 70%;
    color: #dddddd;
    text-align: center;
  }

  .animated-text {
    /* border: 1px solid red; */
    text-align: left;
  }


  .greet {
    margin-left: 0%;
    color: #999999;
    /* font-size: large; */
  }

  .animated-text {
    font-size: 1em;
    margin-top: 1em;
  }

  .brace:first-child {
    position: fixed;
    font-size: large;
    margin-top: 1.5em;
    left: 35%;
  }

  .brace:last-child {
    position: fixed;
    font-size: large;
    left: 70%;
    margin-top: 1.5em;
  }


}

/* Larger screens */
@media (min-width: 1441px) {

  .hero-img {
    margin-top: 3em;
    margin-right: 3em;
    min-width: 100%;
    min-height: 100%;
    background-position: cover;
    /* border: 1px solid red; */
  }

  .personal-img {
    min-width: 450px;
    min-height: 520px;
  }

  .intro {
    /* position: relative; */
    color: #dddddd;
    text-align: center;
    /* border: 1px solid red; */
  }

  #animated-text {
    color: white;
    font-size: larger;
  }

  #to-contact {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 0.45em;
  }

  .greet {
    position: fixed;
    color: #999999;
    text-align: center;
    font-size: large;
    /* border: 1px solid red; */
    top: 73%;
  }

  .animated-text {
    font-size: 1.5em;
    margin-top: 1em;
  }

  .brace:first-child {
    position: fixed;
    font-size: xx-large;
    margin-top: 1em;
    left: 30%;
  }

  .brace:last-child {
    position: fixed;
    font-size: xx-large;
    left: 75%;
    margin-top: 1em;
  }
}

.greet {
  position: fixed;
}

.hidden {
  /* display: none; */
  /* width: 100%; */
  /* border: 1px solid red; */
}

/* .visible {
  display: block;
} */