@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.signature {
  margin-top: 5em;
}

.p {
  color: white;
  font-family: 'Allura' ;
  font-size: 60px;
  color: gray;
  opacity: .7;
}

@media (min-width: 320px) and (max-width: 480px) {

  .signature {
    margin-top: 3.5em;
    margin-bottom: 3.85em;
  }

  .p {
    /* margin-top: 4em; */
    font-size: 52px;
  }
}

@media (min-width: 769px) and (max-width: 1039px) {
  .signature {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}