/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&family=Source+Sans+3:wght@400;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.span {
  color: #987750;
  font-size: 28px;
}

.h1 {
  font-size: 48px;
  color: #dddddd;
}


.p {
  color: #888888;
  font-size: 30px;
}

.imgFrame1 {
  position: relative;
  height: 653px;
  width: 759px;
  border: .25px solid #888888;
  transform: rotate(90deg);
  margin-top: 2em;
  margin-bottom: 4em;
  /* padding: 2em; */
  /* z-index: 3; Set a lower z-index for the first frame */
}

.imgFrame2 {
  position: absolute;
  width: 743px;
  height: 679px;
  border: .25px solid #888888;
  padding: 1em;
  /* z-index: 2; */
  /* margin-right: 2em; */
  /* top: 20px;  */
  /* left: 20px;  */
  transform: rotate(90deg);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* Rotate the second frame by -45 degrees */
}

.imgFrame2 .image {
  /* position: relative; */
  height: 487px;
  width: 487px;
  padding: 10px;
  margin-right: 4em;
  margin-bottom: 6em;
}

.intro {
  transform: rotate(180deg);
  color: #dddddd;
  text-align: center;
  /* width: 100%; */
}

.detail {
  margin-top: 2em;
}

.svgdiv {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  pointer-events: none;
}

.pathdiv {
  stroke: #888888;
  width: 50px;
  fill: none;
  opacity: .5;
}


.separator {
  height: 1px;
  width: 180px;
  background: #fff;
  /* margin-top: 1em; */
  margin-bottom: 1em;
}

.credentials {
  margin-top: 5em;
}

.credentials ul {
  display: flex;
  grid-template-columns: auto 1fr;
  color: white;
  font-size: 20px;
  gap: 5em;
  /* justify-content: space-between; */
  align-items: center;
}

.credentials ul li:first-child {
  width: 100px;
  justify-content: flex-start;
  color:#888888;
  font-size: larger;
  margin-bottom: .5em;
}

.cv {
  height: 220px;
  width: 350px;
  display: grid;
  place-content: center;
  border: 1px solid #888888;
  margin-top: 5em;
  grid-gap: 0;
  margin-left: 5em;
}

.cv > img {
  justify-self: center;
  align-self: flex-end;
}

.cv p {
  color: #888888;
  font-size: 24px;
  margin-top: 1em;
}

.cv:hover {
  cursor: pointer;
  border: 1px solid #987750;
  transition: ease;
}

#arrow {
  transition: transform 0.3s ease;
}

.cv:hover #arrow {
  transform: translate(0, -60);
}

/* About Section */
.about-header {
  margin-top: 2.75em;
}

/* .experiences-card {
  width: 100%;
  height: 180px;
  color: #dddddd;
  padding: 3em;
  background-color: #181715;
  margin-bottom: 1em;
  border-left: .325em solid #888888;
} */

.experiences-card {
  position: relative;
  max-width: 900px;
  min-height: 180px;
  color: #dddddd;
  padding: 3em;
  background-color: #181715;
  margin-bottom: 1em;
  border-left: .325em solid transparent; /* Set a transparent left border */
}

.experiences-card:before {
  content: "";
  position: absolute;
  opacity: .3;
  top: 70;
  left: 0;
  height: 70px;
  width: .25em; /* Adjust the width of the styled section */
  background: linear-gradient(#888888, #888888) no-repeat left center;
  background-size: 100% 100%;
}



.experiences-card-h3 {
  color: #dddddd;
  font-size: 20px;
}

.experiences-card .date {
  color: #888888;
  margin-left: 1em;
}

.job-title {
  font-size: 30px;
}

.job-description {
  font-size: 18px;
  color: #888888;
}

/* Horizontal Separator - Portofolio section */

.horizontal-separator {
  height: 1px;
  width: 70px;
  background: #fff;
  /* margin-top: 1em; */
  margin-bottom: 1em;
  opacity: .3;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.tab-content {
  margin-top: 3em;
}

.activeTabText {
  color: #987750;
}