/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&family=Source+Sans+3:wght@400;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Cursor */

.cursor {
  width: 30px;
  height: 30px;
  border: 3px solid #888888;
  border-radius: 50%;
  /* position: fixed; */
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 5px;
  height: 5px;
  position: fixed;
  position: absolute;
  border: 3px solid #888888;
  border-radius: 50%;
  background-color: #888888;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

html{
  scroll-behavior: smooth;
  /* transition: all ease .3s; */
}



.border-red {
  border-right: 1px solid rgba(128, 128, 128, .5);
}

.about-section {
  min-height:100vh;
  animation: scaleUp;
  animation-timeline: view();
}

/* Animation to make the left section grow in size when the about section is in view */
@keyframes scaleUp {
  from {
    width: 100%;
  }
  to {
    width: 120%;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}


.span {
  color: #987750;
  font-size: 28px;
}

.h1 {
  font-size: 48px;
  color: #dddddd;
}


.p {
  color: #888888;
  font-size: 30px;
}



.svgdiv {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  pointer-events: none;
}

.pathdiv {
  stroke: #888888;
  width: 50px;
  fill: none;
  opacity: .5;
}


.separator {
  height: 1.25px;
  width: 180px;
  background: #888888;
  /* margin-top: 1em; */
  margin-bottom: 1em;
  opacity: .6;
}

.credentials {
  margin-top: 5em;
}

.credentials ul {
  display: flex;
  grid-template-columns: auto 1fr;
  color: white;
  font-size: 20px;
  gap: 5em;
  /* justify-content: space-between; */
  align-items: center;
}

.credentials ul li:first-child {
  width: 100px;
  justify-content: flex-start;
  color:#888888;
  font-size: larger;
  margin-bottom: .5em;
}

.cv {
  height: 220px;
  width: 350px;
  display: grid;
  place-content: center;
  border: 1px solid #888888;
  margin-top: 5em;
  grid-gap: 0;
  margin-left: 5em;
}

.cv > img {
  justify-self: center;
  align-self: flex-end;
}

.cv p {
  color: #888888;
  font-size: 24px;
  margin-top: 1em;
}

.cv:hover {
  cursor: pointer;
  border: 1px solid #987750;
  transition: ease;
}

#arrow {
  transition: transform 0.3s ease;
}

.cv:hover #arrow {
  transform: translate(0, -60);
}

/* About Section */
.about-header {
  margin-top: 2.5em;
}

/* .experiences-card {
  width: 100%;
  height: 180px;
  color: #dddddd;
  padding: 3em;
  background-color: #181715;
  margin-bottom: 1em;
  border-left: .325em solid #888888;
} */

/* Cards */

.experiences-card {
  position: relative;
  max-width: 900px;
  min-height: 180px;
  color: #dddddd;
  padding: 3em;
  background-color: #181715;
  margin-bottom: 1em;
  border-left: .325em solid transparent; /* Set a transparent left border */
}

.testimonials-card {
  position: relative;
  max-width: 800px;
  min-height: 180px;
  color: #dddddd;
  padding: 3em;
  /* background-color: red; */
  margin-bottom: 1em;
  border-left: .325em solid transparent; /* Set a transparent left border */
}

.experiences-card:before {
  content: "";
  position: absolute;
  opacity: .3;
  top: 70;
  left: 0;
  height: 70px;
  width: .25em; /* Adjust the width of the styled section */
  background: linear-gradient(#888888, #888888) no-repeat left center;
  background-size: 100% 100%;
}



.experiences-card-h3 {
  color: #dddddd;
  font-size: 20px;
}

.experiences-card .date {
  color: #888888;
  margin-left: 1em;
}

.job-title {
  font-size: 30px;
}

.job-description {
  font-size: 18px;
  color: #888888;
}

/* Horizontal Separator - Portofolio section */

.horizontal-separator {
  height: 1px;
  width: 70px;
  background: #fff;
  /* margin-top: 1em; */
  margin-bottom: 1em;
  opacity: .3;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.tab-content {
  margin-top: 3em;
}

.activeTabText {
  color: #987750;
}

.skill {
  margin-bottom: 2em;

}

.skill-label {
  color: #888888;
  font-size: 18px;
}

.skill-desc {
  margin-top: 5em;
  font-size: 16px;
}

.slider {
  margin-top: .5em;
}

.ring-offset-transparent {
  ring-offset-color: transparent;
}


.portofolio-header {
  display: flex;
  /* border: 1px solid red; */
  text-align: center;
}


.portofolio-header h1 {
  margin-left: .5em;
}

.portofolio-header .head {
  width: 50%;
}

/* Projects Carousel */
/* Carousel */
.carousel {
  /* margin-top: 4em; */
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* overflow: hidden; */
}

.carousel-item {
  display: flex;
  flex-basis: 33.333333%;
}

.carousel-content {
  margin-top: 5em;
}

.carousel-img {
  /* max-width: 350px; */
  height: 270px;
  width: 100%;
}


/* Services Section */
.services-section {
  min-height: 100vh;
  margin-top: 19em;
}

.services-text {
  margin-top: 2em;
}

.services-cards {
  margin-top: 2em;
}


/* Testimonials Section */
.testiominials-section {
  margin-top: 5em;
}

.testimonials-carousel {
  margin-top: 5em;
  max-width: 900px;
  display: flex;
  flex: column;
}

.testimonial-carousel-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin: 1em;
  /* border: 1px solid re; */
}

.testimonial-text{
  font-size: 32px;
  color: #888888;
}

.testimonial-detail h1 {
  font-size: 24px;
  color: #dddddd;
  margin-top: 1em;
}

.testimonial-detail h3 {
  font-size: 18px;
  color: #888888;
}


/* Blog Section */
.blog-section {
  margin-top: 10em;
  min-height: 100vh;
}

.blog {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.blog img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.blog-post {
  margin-bottom: 2em;
  /* margin-left: 1em; */
  margin-right: 1em;
}

.blog-post h2 {
  font-size: 20px;
}

.articles-btn {
  border: 1px solid #888888;
  font-size: larger;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.articles-btn:hover {
  border: 1px solid #987750;
  transition: ease;
}

.input-contact {
  background-color: inherit;
  border: 1px solid #888888;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  min-width: 100%;
  margin-bottom: 2em;
  /* margin-bottom: 1em; */
}

@media (min-width: 768px) {
  .blog {
    grid-template-columns: 1fr 1fr;
  }
}