/* Testimonials Section */
.testimonials-section {
  margin-top: 5em;
}

.testimonials-carousel {
  width: 100%;
  display: flex;
  flex: column;
  /* overflow: hidden; */
  white-space: normal;
}

.testimonials-carousel-text {
  margin-top: 2em;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.testimonial-carousel-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin: 1em;
}

.testimonials-card {
  position: relative;
  width: 100%;
  min-height: 180px;
  color: #dddddd;
  margin-bottom: 1em;
  /* overflow: hidden; */
  /* border-left: .325em solid transparent; Set a transparent left border */
}

.testimonial-text{
  font-size: 2em;
  color: #888888;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.testimonial-detail h1,
.testimonial-detail h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testimonial-detail h1 {
  font-size: 1.25em;
  color: #dddddd;
  margin-top: 1em;
}

.testimonial-detail h3 {
  font-size: 1.125em;
  color: #888888;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 480px) {

  .testimonials-carousel {
    /* border: 1px solid red; */
    min-width:90%;
  }

  .testimonials-carousel-text {
    max-width: 90%;
    white-space: normal;
    /* border: 1px solid red; */
  }


  .testimonials-card {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .testimonials-card .p {
    /* border: 1px solid red; */
    width: fit-content;
    font-size: 12px;
  }

  .testimonials-carousel-item {
    width: 50%;
  }

  .testimonial-btn-next {
    position: absolute;
    top: 9%;
    left: 15%;
    transform: translateY(-50%);
  }

  .testimonial-btn-prev {
    position: absolute;
    top: 9%;
    left: 6%;
    transform: translateY(-50%);
  }
}

/* Tablets */
@media (min-width:481px) and (max-width: 768px) {
  .testimonials-carousel {
    min-width: 90%;
  }

  .testimonials-carousel-text {
    max-width: 90%;
    white-space: normal;
  }

  .testimonials-card {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .testimonials-card .p {
    /* border: 1px solid red; */
    width: fit-content;
    font-size: 1.25em;
  }

  .testimonials-carousel-item {
    width: 50%;
  }

  .testimonial-btn-next {
    position: absolute;
    top: 9%;
    right: 95%;
    transform: translateY(-50%);
  }

  .testimonial-btn-prev {
    position: absolute;
    top: 9%;
    left: 6%;
    transform: translateY(-50%);
  }


}

/* @media (max-width: 600px) {
  .testimonial-text {
    font-size: 1em;
  }
} */