/* Testimonials Section */
/* .testiominials-section {
  margin-top: 5em;
  padding-inline: 7em;
  margin-inline: 7em;
  border: 1px solid red;
} */

.testimonials-carousel {
  margin-top: 5em;
  margin-inline: 8em;
  /* padding-inline: 7em; */
  width: 100%;
  display: flex;
  flex: column;
  overflow: hidden;
  /* margin: 0 auto; */
}

.testimonials-carousel-text {
  margin-top: 2em;
}

.testimonial-carousel-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin: 1em;
  /* border: 1px solid re; */
}

.testimonial-text{
  font-size: 32px;
  color: #888888;
}

.testimonial-detail h1 {
  font-size: 24px;
  color: #dddddd;
  margin-top: 1em;
}

.testimonial-detail h3 {
  font-size: 18px;
  color: #888888;
}