.services-section {
  min-height: 100vh;
}

.services-header {
  margin-top: 1.5em;
}

.services-header h1 {
  font-size: 3em;
}

.services-span {
  color: #987750;
  font-size: 1.125em;
}

.services-text {
  font-size: 11px;
  margin-top: 5em ;
}

@media (max-width: 600px) {
  .services-section {
    margin-top: 4em;
    padding-inline: 1.25em;
  }
}