.services-section {
  min-height: 100vh;
  /* margin-inline: 3em; */
}

.services-header {
  margin-top: 1.5em;
}

.services-header h1 {
  font-size: 3em;
}

.services-span {
  color: #987750;
  font-size: 1.125em;
}

.services-text {
  font-size: 11px;
  /* margin-top: 5em ; */
}

@media (min-width: 1181px) {
  .services-section {
    padding-inline: 3em;
    margin-top: 10em;
    /* border: 1px solid red; */
  }
}

@media (max-width: 1180px) {
  .services-section {
    margin-top: 10em;
    padding-inline: 2em;
  }

  .services-header h1 {
    font-size: 2em;
  }

  .services-text {
    font-size: 1.35em;
    margin-bottom: 2em;
  }
}

@media (max-width: 600px) {
  .services-section {
    margin-top: 4em;
    padding-inline: 1.25em;
  }

  .services-text {
    font-size: 1em;
    margin-bottom: 6em;
  }
}