/* Blog Section */
.blog-section {
  margin-top: 10em;
  height: fit-content;
}

.blog {
  /* margin-top: 5em; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25em;

}

.blog img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.blog-post {
  margin-bottom: 2em;
}

.blog-post h2 {
  font-size: 1.25em;
}

@media (max-width: 1180px) {
  .blog-section {
    margin-inline-start: 3em;
    width: 90%;
  }

}

@media (min-width: 1181px) {
  .blog-section {
    margin-inline-start: 1.25em;
    width: 90%;
  }

}

@media screen and (min-width: 768px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media (max-width: 600px) {
  .blog-section {
    margin-inline-start: 2em;
    width: 90%;
  }
}