/* Blog Section */
.blog-section {
  margin-top: 10em;
  min-height: 100vh;
  /* margin-inline-start: 7em; */
  padding-inline: 5em;
  /* max-width: 800px; */
}

.blog {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.blog img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

.blog-post {
  margin-bottom: 2em;
  /* margin-left: 1em; */
  margin-right: 1em;
}

.blog-post h2 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}