.footer-section {
  position: relative;
  margin-top: 4em;
  margin-bottom: 1em;
  /* padding-inline: 7em; */
  border-top: 1px solid rgba(128, 128, 128, .5);
  /* background-color: #1d1d1d; */
}

.button-container {
  position: absolute;
  top: 0%;
  right: 11%;
  transform: translateY(-50%);
  z-index: 1000;
}

.footer-btn {
  background-color: #1d1d17;
  border: 1px solid #1d1d1d;
  padding: 1em;
  font-size: 24px;
  z-index: 1000;
}

.footer-btn:hover {
  border: 1px solid #987750;
  transition: all ease 0.3s;
}

.footer-text {
  color: #888888;
  margin-left: 7rem;
  font-size: 18px;
  margin-top: 4em;
  position: relative;
}

.footer-text > div > span {
  color: #dddddd;
  /* font-size: 18px; */
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
  display: inline-block;
  margin-bottom: 2em;
}

/* Media Queries */
/* Mobile Devices */
@media (min-width: 320px) and (max-width: 480px) {

  .footer-text {
    margin-left: .875em;
    margin-top: 2em;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {

  .footer-text {
    margin-left: 1.25em;
    margin-top: 2em;
  }
}